streamlit==1.42.0
torch==2.0.0+cpu  # Use CPU version
torchvision==0.15.1+cpu  # Use CPU version
pandas==2.0.3
numpy==1.24.3
scikit-learn==1.3.0
joblib==1.4.2
watchdog
setuptools>=41.0.0
wheel>=0.33.0
dill>=0.3.6