streamlit==1.42.0
torch==2.0.0  # or the latest stable version
torchvision  # Optional, if you need it for any image processing
pandas==2.0.3
numpy==1.24.3
scikit-learn==1.3.0
joblib==1.4.2
watchdog
setuptools>=41.0.0
wheel>=0.33.0
dill>=0.3.6